unpackaged/main/default/flows/Create_Tasks_for_Claim_Brain_Confinement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_for_Accidently_Lodging_Benefit_Review</name>
        <label>Check for Accidently Lodging Benefit Review</label>
        <locationX>784</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefit_Has_Accident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cve__BenefitName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Lodging_Benefit_Review</targetReference>
            </connector>
            <label>Benefit Has Accident</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if it is Hospital Benefit</description>
        <name>Hospital_Benefit</name>
        <label>Hospital  Benefit</label>
        <locationX>788</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Check_for_Accidently_Lodging_Benefit_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Hospital_Coverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cve__BenefitName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hospital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks_for_Perscription_Drug_Review</targetReference>
            </connector>
            <label>Has Hospital Coverage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateDue</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Create Tasks for Claim Brain Confinement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks for Claim Brain Confinement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Lodging_Benefit_Review</name>
        <label>Create Tasks for Lodging Benefit Review</label>
        <locationX>1006</locationX>
        <locationY>509</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>&#39;Review for possible Lodging benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.cve__BenefitClaimed__r.cve__Claim__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&#39;Review for possible Lodging benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.cve__BenefitClaimed__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_for_Perscription_Drug_Review</name>
        <label>Create Tasks for Perscription Drug Review</label>
        <locationX>991</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Create_Task_for_Lodging_Benefit_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Review for possible Prescription benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.cve__BenefitClaimed__r.cve__Claim__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review for possible Prescription benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.cve__BenefitClaimed__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Hospital_Benefit</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>cve__CoverageName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Confinement</stringValue>
            </value>
        </filters>
        <object>cve__CoverageClaimed__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
