unpackaged/main/default/flows/EnrollmentChecklistUpdate_from_Start_and_End_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>External_Kickoff_Completed_Date_Updated</name>
        <label>External Kickoff Completed Date Updated</label>
        <locationX>1121</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>$Record.External_Coordination_Completed_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Config_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assess</name>
        <label>Update Assess Request Completed Date</label>
        <locationX>537</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assess_Request_Completed_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salesforce_Coordination_Completd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Config_Completed_DateTime</name>
        <label>Update Case Config Completed DateTime</label>
        <locationX>1276</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaseConfig_Task_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_Testing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Enrollment_Prep_Completed_Date</name>
        <label>Update Enrollment Prep Completed Date</label>
        <locationX>1687</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enroller_Preparation_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MSS_Task_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fix_Completed_Date_Time</name>
        <label>Update Fix Completed Date/Time</label>
        <locationX>1462</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fix_testing_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enroller_Preparation_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_From_EndDate</name>
        <label>Update  From EndDate</label>
        <locationX>339</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>$Record.Post_Enrollment_Completed_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnddatePlus1Week</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Access_Request_has_just_been_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_from_Enrollment_Start_Date</name>
        <label>Update from Enrollment Start Date</label>
        <locationX>157</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Kick_off_Coordination_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus2weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.External_Coordination_ED_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus2weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CaseConfig_Task_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus2weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fix_Testing_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus2weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Enroller_Preparation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus2weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MSS_Tasks_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateMinus1Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Go_Live_Task_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enrollment_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_from_Enrollment_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Go_Live_Completed_Date</name>
        <label>Update Go Live Completed Date</label>
        <locationX>2032</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>$Record.Go_Live_Task_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Implementation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Internal_Kickoff_Completed_Date</name>
        <label>Update Internal Kickoff  Completed Date</label>
        <locationX>917</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Kick_off_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_Kickoff_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MSS_Task_Completed_Date</name>
        <label>Update MSS Task Completed Date</label>
        <locationX>1879</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>$Record.MSS_Tasks_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Live_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Post_Enrollment_Completed_Date</name>
        <label>Update Post Enrollment Completed Date</label>
        <locationX>2219</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>$Record.Post_Enrollment_Completed_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Salesforce_Coordination_Completed</name>
        <label>Update Salesforce Coordination Completed</label>
        <locationX>744</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesforce_Coordination_Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Kickoff_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Access_Request_has_just_been_completed</name>
        <label>Access Request has just been completed</label>
        <locationX>523</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Coordination_Completd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Access_Request_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assess_Request_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assess_Request_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assess</targetReference>
            </connector>
            <label>Update Access Request Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Config_Completed</name>
        <label>Case Config Completed</label>
        <locationX>1274</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>Fix_Testing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Config_Just_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseConfig_Task_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseConfig_Task_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Config_Completed_DateTime</targetReference>
            </connector>
            <label>Case Config Just Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enroller_Preparation_Completed</name>
        <label>Enroller Preparation Completed</label>
        <locationX>1623</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>MSS_Task_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enroller_Preparation_Just_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enroller_Preparation_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enroller_Preparation_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Prep_Completed_Date</targetReference>
            </connector>
            <label>Enroller Preparation Just Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollment_Start_Date_Updated_and_is_not_Null</name>
        <label>Enrollment Start Date Updated and is not Null</label>
        <locationX>147</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Update_Dates_from_Enrollment_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Dates_from_Enrollment_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_from_Enrollment_Start_Date</targetReference>
            </connector>
            <label>Update Dates from Enrollment Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_Kickoff_Completed</name>
        <label>External Kickoff Completed</label>
        <locationX>1108</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Case_Config_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_Kickoff_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Coordination_ED_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Coordination_ED_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Kickoff_Completed_Date_Updated</targetReference>
            </connector>
            <label>External Kickoff Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fix_Testing</name>
        <label>Fix Testing  Completed</label>
        <locationX>1449</locationX>
        <locationY>883</locationY>
        <defaultConnector>
            <targetReference>Enroller_Preparation_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fix_Testing_ust_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fix_Testing_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fix_Testing_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fix_Completed_Date_Time</targetReference>
            </connector>
            <label>Fix Testing ust Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_Live_Task</name>
        <label>Go Live Task</label>
        <locationX>2023</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Post_Implementation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_Live_Task_just_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_Live_Task_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_Live_Task_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Go_Live_Completed_Date</targetReference>
            </connector>
            <label>Go Live Task just Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Kickoff_Completed</name>
        <label>Internal Kickoff Completed</label>
        <locationX>894</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>External_Kickoff_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Kick_off_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Kickoff_Coordination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Kickoff_Coordination__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Internal_Kickoff_Completed_Date</targetReference>
            </connector>
            <label>Internal Kick off is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MSS_Task_Completed</name>
        <label>MSS Task Completed</label>
        <locationX>1860</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Go_Live_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSS_Task_Just_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MSS_Tasks_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSS_Tasks_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MSS_Task_Completed_Date</targetReference>
            </connector>
            <label>MSS Task Just Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Implementation</name>
        <label>Post Enrollment</label>
        <locationX>2215</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_Enrollment_Just_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Post_Enrollment_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Post_Enrollment_Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Post_Enrollment_Completed_Date</targetReference>
            </connector>
            <label>Post Enrollment Just Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Coordination_Completd</name>
        <label>Salesforce Coordination Completed</label>
        <locationX>724</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Internal_Kickoff_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Cooridination_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salesforce__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Coordination_Completed</targetReference>
            </connector>
            <label>Salesforce Coordination Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Dates_from_Enrollment_End_Date</name>
        <label>Update Dates from Enrollment End Date</label>
        <locationX>333</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Access_Request_has_just_been_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateFromEnrollmentEndDatee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_From_EndDate</targetReference>
            </connector>
            <label>UpdateFromEnrollmentEndDatee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EnddatePlus1Week</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Enrollment_End_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>StartDateMinus1Week</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Enrollment_Start_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>StartDateMinus2weeks</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Enrollment_Start_Date__c} - 14</expression>
    </formulas>
    <interviewLabel>Update from Start and End Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Checklist Update from Start and End Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>29</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Enrollment_Start_Date_Updated_and_is_not_Null</targetReference>
        </connector>
        <object>Enrollment_Checklist_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
