unpackaged/main/default/flows/Insurance_Claim_Created_in_Queue_round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Round_Robin_Insurance_Claim</name>
        <label>Round Robin Insurance Claim</label>
        <locationX>489</locationX>
        <locationY>459</locationY>
        <actionName>forcerules__RecordAssignmentHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectNameValue</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjValueId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>forcerules__RecordAssignmentHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cve__Claim__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Owner_is_Queue</name>
        <label>Check if Owner is Queue</label>
        <locationX>663</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeofOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordtoAssignRoundRobin</targetReference>
            </connector>
            <label>Owner is Queue</label>
        </rules>
    </decisions>
    <description>Round Robin if created in queue</description>
    <environments>Default</environments>
    <formulas>
        <name>TypeofOwner</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.OwnerId},3)</expression>
    </formulas>
    <interviewLabel>Insurance Claim Created in Queue round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insurance Claim Created in Queue round Robin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecordtoAssignRoundRobin</name>
        <label>Update Record to Assign Round robin</label>
        <locationX>662</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Round_Robin_Insurance_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>Assign_Owner_using_Assignment_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Owner_is_Queue</targetReference>
        </connector>
        <object>cve__Claim__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
