unpackaged/main/default/flows/RecordTriggered_PaymentSpecification_AfterCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>decision_isIntegratedcvabClaim</name>
        <label>Is the Payment Spec for an Integrated cvab Claim?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>update_cvabClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Integrated cvab Claim</defaultConnectorLabel>
        <rules>
            <name>outcome_cvintClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cvint__AbsenceClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cvint__AbsenceClaim__r.cvint__DisabilityClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cvint__AbsenceClaim__r.cvint__DisabilityClaim__r.HasStateIncomeOffset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_cvabAdditionalIncomePaymentSpec</targetReference>
            </connector>
            <label>Integrated Claim Absence</label>
        </rules>
        <rules>
            <name>outcome_cveClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cve__Claim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Claim__r.cvint__AbsenceClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Start__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Through__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Claim__r.HasStateIncomeOffset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cve__Claim__r.cvint__AbsenceClaim__r.HasOffsetLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_cve_AdditionalIncome_Payment_Spec</targetReference>
            </connector>
            <label>Integrated Claim Disability</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isNewAdditionalIncome</name>
        <label>Is AdditionalIncome New?</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>update_additionalIncome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AdditionalIncome Already Exists</defaultConnectorLabel>
        <rules>
            <name>outcome_isNewAdditionalIncome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_additionalIncome.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_additionalIncome</targetReference>
            </connector>
            <label>AdditionalIncome Is New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Triggered - PaymentSpecification - CreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTriggered - PaymentSpecification - CreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_additionalIncome</name>
        <label>Create AdditionalIncome</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <inputReference>varR_additionalIncome</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_cvabAdditionalIncomePaymentSpec</name>
        <label>Get cvab AdditionalIncome Payment Spec</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflow_convertPFMLToIncome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_absenceClaim.AdditionalIncomePaymentSpecification__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cve__PaymentSpecification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_cve_AdditionalIncome_Payment_Spec</name>
        <label>Get cve AdditionalIncome Payment Spec</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_STD_Benefit_to_PFML_AdditionalIncome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_stdClaim.AdditionalIncomePaymentSpecification__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cve__PaymentSpecification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_additionalIncome</name>
        <label>Update AdditionalIncome</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <inputReference>varR_additionalIncome</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_cvabClaim</name>
        <label>Update Absence</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>update_parentCveClaim</targetReference>
        </connector>
        <inputReference>varR_absenceClaim</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_parentCveClaim</name>
        <label>Update Disability</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>decision_isNewAdditionalIncome</targetReference>
        </connector>
        <inputReference>varR_stdClaim</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>subflow_assignPaymentSpecToClaims</targetReference>
        </connector>
        <object>cve__PaymentSpecification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Convert_STD_Benefit_to_PFML_AdditionalIncome</name>
        <label>Convert STD Benefit to PFML AdditionalIncome</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>update_cvabClaim</targetReference>
        </connector>
        <flowName>Subflow_PFMLBenefitToAdditionalIncome</flowName>
        <inputAssignments>
            <name>varR_additionalIncomePaymentSpec</name>
            <value>
                <elementReference>Get_cve_AdditionalIncome_Payment_Spec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_paymentSpec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_disabilityAdditionalIncomeSpecId</name>
            <value>
                <elementReference>varR_stdClaim.AdditionalIncomePaymentSpecification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAbsence</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_additionalIncome</assignToReference>
            <name>varR_additionalIncome</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subflow_assignPaymentSpecToClaims</name>
        <label>Subflow:  Assign Claims&#39; AdditionalIncome Payment Specs</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>decision_isIntegratedcvabClaim</targetReference>
        </connector>
        <flowName>Subflow_AssignAdditionalIncomePaymentSpecs</flowName>
        <inputAssignments>
            <name>varR_paymentSpec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_absenceClaim</assignToReference>
            <name>varR_absenceClaim</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_stdClaim</assignToReference>
            <name>varR_stdClaim</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subflow_convertPFMLToIncome</name>
        <label>Convert PFML Benefit to STD AdditionalIncome</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>update_cvabClaim</targetReference>
        </connector>
        <flowName>Subflow_PFMLBenefitToAdditionalIncome</flowName>
        <inputAssignments>
            <name>isAbsence</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_additionalIncomePaymentSpec</name>
            <value>
                <elementReference>get_cvabAdditionalIncomePaymentSpec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_paymentSpec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_disabilityAdditionalIncomeSpecId</name>
            <value>
                <elementReference>varR_absenceClaim.AdditionalIncomePaymentSpecification__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_additionalIncome</assignToReference>
            <name>varR_additionalIncome</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varR_absenceClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cvab__Claim__c</objectType>
    </variables>
    <variables>
        <name>varR_additionalIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdditionalIncome__c</objectType>
    </variables>
    <variables>
        <name>varR_stdClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__Claim__c</objectType>
    </variables>
    <variables>
        <name>varT_absenceParentAddlIncmPymntSpcId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_stdParentAddlIncmPymntSpcId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
