unpackaged/main/default/flows/Screen_FileUpload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Content_Document_File_Name</name>
        <label>Assign Content Document File Name</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContentDocument.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocument.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_File_Upload_Skipped</name>
        <label>set File Upload Skipped</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FileUploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Storing_File_Names</name>
        <label>Storing File Names</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>FileTileResultRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateFileNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Content_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Record_Id</name>
        <label>Check for Record Id</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Record_Id_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Id_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Upload</targetReference>
            </connector>
            <label>Record Id not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_File_is_selected</name>
        <label>Check if File is selected</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>set_File_Upload_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthofUploadedFIle</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Documents</targetReference>
            </connector>
            <label>File selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LengthofUploadedFIle</name>
        <dataType>Number</dataType>
        <expression>LEN({!FileUpload.contentDocIds})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Screen_FileUpload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Upload</label>
    <loops>
        <name>Content_Document</name>
        <label>Content Document</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Content_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Files_Rename</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Updated_Content_Document</name>
        <label>Updated Content Document</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>ContentDocumentCollectionUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Storing_File_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_File_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FileUpload.contentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Documents</name>
        <label>Update Content Documents</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Updated_Content_Document</targetReference>
        </connector>
        <inputReference>ContentDocumentCollectionUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_File_Names</name>
        <label>Display File Names</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Document</targetReference>
        </connector>
        <fields>
            <name>DisplayFileNames</name>
            <fieldText>&lt;p&gt;File Names: {!FileTileResultRow}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_File_is_selected</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 20, 20);&quot;&gt;Please make sure you upload at least one file&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FileUploadSkipped</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please upload file&lt;/p&gt;</errorMessage>
                <formulaExpression>{!FileUpload.contentDocIds} != null</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Files_Rename</name>
        <label>Files Rename</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Content_Document_File_Name</targetReference>
        </connector>
        <fields>
            <name>File_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Content_Document.Title</elementReference>
            </defaultValue>
            <fieldText>File Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Id_null</name>
        <label>Record Id null</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Id_not_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 43, 74);&quot;&gt;Absence Claim Id not found&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Success_Message</name>
        <label>Show Success Message</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(42, 195, 25);&quot;&gt;File Uploaded Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish</name>
            <extensionName>cve:finishStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Show_Success_Message</targetReference>
        </connector>
        <flowName>Subflow_CreateDocument</flowName>
        <inputAssignments>
            <name>ContentDocumentIds</name>
            <value>
                <elementReference>FileUpload.contentDocIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TextTemplateFileNames</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Updated_Content_Document.Title}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentCollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>Document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cvab__Document__c</objectType>
    </variables>
    <variables>
        <name>FileTileResultRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
