unpackaged/main/default/flows/Screen_Copy_Move_Delete_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Screen_Object_Decision</name>
        <label>Object Decision</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cve_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cve__Document__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Get_Cve_Documents</targetReference>
            </connector>
            <label>Cve Document</label>
        </rules>
        <rules>
            <name>Cvab_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cvab__Document__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Get_Cvab_Documents</targetReference>
            </connector>
            <label>Cvab Document</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen_COpy/Move/Delete Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen_Copy/Move/Delete Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Cve documents selected from the related list view</description>
        <name>Screen_Get_Cvab_Documents</name>
        <label>Get Cvab Documents</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Using_Lwc_for_Cvab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cvab__Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Cve documents selected from the related list view</description>
        <name>Screen_Get_Cve_Documents</name>
        <label>Get Cve Documents</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Using_Lwc_for_Cve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cve__Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Using_Lwc_for_Cvab</name>
        <label>Using Lwc for Cvab</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CopyMoveDeleteCvabDocumentsLwc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cvab__Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:copyMoveDeleteDocumentsLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <elementReference>buttonName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>cvab__Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDocs</name>
                <value>
                    <elementReference>Screen_Get_Cvab_Documents</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Using_Lwc_for_Cve</name>
        <label>Using Lwc for Cve</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cveDocuments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cve__Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:copyMoveDeleteDocumentsLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <elementReference>buttonName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>cve__Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDocs</name>
                <value>
                    <elementReference>Screen_Get_Cve_Documents</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Object_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>button name clicked from the list view</description>
        <name>buttonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of selected cve document Ids</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
