unpackaged/main/default/flows/Share_Content_Document_on_new_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_a_claims_inbound_Email</name>
        <label>Is a claims inbound Email</label>
        <locationX>763</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Claims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseOwnerrole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(Claims)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_DocumentsLink</targetReference>
            </connector>
            <label>Owner is Claims</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseOwnerID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent.Owner:User.Id}</expression>
    </formulas>
    <formulas>
        <name>CaseOwnerrole</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent.Owner_Role__c}</expression>
    </formulas>
    <interviewLabel>Share Content Document on new Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Content Document on new Email</label>
    <loops>
        <name>Loop_through_content_Document_Link</name>
        <label>Loop through content Document Link</label>
        <locationX>583</locationX>
        <locationY>560</locationY>
        <collectionReference>Get_Content_DocumentsLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_with_Case_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_with_Case_Owner</name>
        <label>Share with Case Owner</label>
        <locationX>965</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Loop_through_content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_through_content_Document_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_through_content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Parent.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_DocumentsLink</name>
        <label>Get Content Documents Link</label>
        <locationX>575</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasAttachment</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue> ref:</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>test_Schedule</name>
            <connector>
                <targetReference>Is_a_claims_inbound_Email</targetReference>
            </connector>
            <label>test Schedule</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
