unpackaged/main/default/flows/ST_K2_Next_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>send k2 final email reminder to case contact</description>
        <name>K2_Final_Email_Reminder</name>
        <label>K2 Final Email Reminder</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>Case.Notify_K2_Final_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_to_Close</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.CaseSafeID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_K2_Final_Reminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>schedule flow to send final email based on dat in next email reminder field on the case</description>
    <environments>Default</environments>
    <interviewLabel>ST - K2 Next Email Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST - K2 Next Email Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>when final email reminder date is today and email sent case status will be updated to closed</description>
        <name>Update_Case_to_Close</name>
        <label>Update Case to Close</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>K2_Final_Email_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Reminder_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_Sent_Next_Reminder_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-06</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
