unpackaged/main/default/flows/Subflow_CreateDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>GetObjectNameById</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Content_Documents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectNameById</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_cvabDocument</name>
        <label>Assignment cvabDocument</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Document.cvab__Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document.cvab__Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Documents.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document.cvab__Body2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_cveDocument</name>
        <label>Assignment cveDocument</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cveDocument.cve__Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cveDocument.cve__AttachmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cveDocument.cve__AttachmentIsFile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cveDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Documents.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cveDocument.cve__AttachmentAdded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cveDocumentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cveDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Object_Name</name>
        <label>Check Object Name</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Content_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cvabClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cvab__Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_cvabDocument</targetReference>
            </connector>
            <label>cvabClaim</label>
        </rules>
        <rules>
            <name>cveClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cve__Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_cveDocument</targetReference>
            </connector>
            <label>cveClaim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_create_Documents</name>
        <label>Check to create Documents</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_cvabDocuments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cvab__Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_cvabDocument</targetReference>
            </connector>
            <label>create cvabDocuments</label>
        </rules>
        <rules>
            <name>create_cveDocuments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cve__Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_cveDocument</targetReference>
            </connector>
            <label>create cveDocuments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LengthofUploadedFIle</name>
        <dataType>Number</dataType>
        <expression>LEN({!ContentDocumentIds})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Subflow Create Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Create Document</label>
    <loops>
        <name>Content_Documents</name>
        <label>Content Documents</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Content_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Object_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_create_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_cvabDocument</name>
        <label>Create cvabDocument</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <inputReference>DocumentCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_cveDocument</name>
        <label>Create cveDocument</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <inputReference>cveDocumentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Documents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;p&gt;&lt;p&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cveDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__Document__c</objectType>
    </variables>
    <variables>
        <name>cveDocumentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__Document__c</objectType>
    </variables>
    <variables>
        <name>Document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cvab__Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cvab__Document__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
