unpackaged/main/default/flows/Subflow_PFMLBenefitToAdditionalIncome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_AdditionalIncome_Record_Values_for_Disability</name>
        <label>Assign AdditionalIncome Record Values for Disability</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Through__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.IncomeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STD Income</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.PaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_disabilityAdditionalIncomeSpecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formT_STDAdditionalIncomeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_additionalIncomePaymentSpec.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Preexisting_AdditionalIncome_for_Date_Range_of_Disability.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.STDClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Claim__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_setAdditionalIncomeValues</name>
        <label>Assign AdditionalIncome Record Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Through__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.IncomeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PFML Income</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.PaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_disabilityAdditionalIncomeSpecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formT_additionalIncomeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_additionalIncomePaymentSpec.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_preexistingAdditionalIncome.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_additionalIncome.PFMLClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cvint__AbsenceClaim__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AbsenceOrDisability</name>
        <label>Absence Or Disability</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Preexisting_AdditionalIncome_for_Date_Range_of_Disability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Disability</defaultConnectorLabel>
        <rules>
            <name>Is_Absence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAbsence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_preexistingAdditionalIncome</targetReference>
            </connector>
            <label>Is Absence</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formT_additionalIncomeName</name>
        <dataType>String</dataType>
        <expression>&quot;PFML Income: &quot; + TEXT({!varR_paymentSpec.cve__Start__c}) + &quot; - &quot; + TEXT({!varR_paymentSpec.cve__Through__c})</expression>
    </formulas>
    <formulas>
        <name>formT_STDAdditionalIncomeName</name>
        <dataType>String</dataType>
        <expression>&quot;STD Income: &quot; + TEXT({!varR_paymentSpec.cve__Start__c}) + &quot; - &quot; + TEXT({!varR_paymentSpec.cve__Through__c})</expression>
    </formulas>
    <interviewLabel>Subflow: Record PFML Benefit as AdditionalIncome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Record PFML Benefit as AdditionalIncome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Preexisting_AdditionalIncome_for_Date_Range_of_Disability</name>
        <label>Get Preexisting AdditionalIncome for Date Range of Disability</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AdditionalIncome_Record_Values_for_Disability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STDClaim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentSpecification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_disabilityAdditionalIncomeSpecId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdditionalIncome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_preexistingAdditionalIncome</name>
        <label>Get Preexisting AdditionalIncome for Date Range</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_setAdditionalIncomeValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PFMLClaim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_paymentSpec.cvint__AbsenceClaim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentSpecification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_disabilityAdditionalIncomeSpecId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdditionalIncome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AbsenceOrDisability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isAbsence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_additionalIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AdditionalIncome__c</objectType>
    </variables>
    <variables>
        <name>varR_additionalIncomePaymentSpec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__PaymentSpecification__c</objectType>
    </variables>
    <variables>
        <name>varR_paymentSpec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__PaymentSpecification__c</objectType>
    </variables>
    <variables>
        <name>varT_disabilityAdditionalIncomeSpecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
