unpackaged/main/default/flows/Subflow_AssignAdditionalIncomePaymentSpecs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_setDisabilityClaimParentAddlIncomeSpec</name>
        <label>Set Disability Claim&#39;s Parent AdditionalIncome PaymentSpec</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_stdClaim.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Claim__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_stdClaim.AdditionalIncomePaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_setDisabilityPaymentSpecForAbsenceClaims</name>
        <label>Update Absence AdditionalIncome Spec to Disability&#39;s</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.AdditionalIncomePaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cvint__AbsenceClaim__r.cvint__DisabilityClaim__r.AdditionalIncomePaymentSpecification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cvint__AbsenceClaim__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_setDisabilityPaymentSpecForBothClaims</name>
        <label>Assign Value Present Inside Disability</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Claim__r.cvint__AbsenceClaim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.AdditionalIncomePaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_stdClaim.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cve__Claim__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_stdClaim.AdditionalIncomePaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_setPaymentSpecificationIdForAbsenceClaim</name>
        <label>Assign Absence Payment Spec</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.cvint__AbsenceClaim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_absenceClaim.AdditionalIncomePaymentSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_paymentSpec.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_checkIntDisAbsClaim</name>
        <label>Check for cvint/cve/cvab Claim</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>assign_setDisabilityPaymentSpecForAbsenceClaims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Absence Claim In Integrated Claim</defaultConnectorLabel>
        <rules>
            <name>outcome_integratedClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_paymentSpec.cve__Claim__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_paymentSpec.cve__Claim__r.cvint__AbsenceClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_setDisabilityPaymentSpecForBothClaims</targetReference>
            </connector>
            <label>If Integrated</label>
        </rules>
        <rules>
            <name>outcome_disabilityOnlyClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_paymentSpec.cve__Claim__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_paymentSpec.cve__Claim__r.cvint__AbsenceClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_setDisabilityClaimParentAddlIncomeSpec</targetReference>
            </connector>
            <label>If Disability-Only</label>
        </rules>
        <rules>
            <name>outcome_absenceOnlyClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_paymentSpec.cvint__AbsenceClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_paymentSpec.cvint__AbsenceClaim__r.cvint__DisabilityClaim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_setPaymentSpecificationIdForAbsenceClaim</targetReference>
            </connector>
            <label>If Absence-Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Assign AdditionalIncome Payment Specs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Assign AdditionalIncome Payment Specs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_checkIntDisAbsClaim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_absenceClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>cvab__Claim__c</objectType>
    </variables>
    <variables>
        <name>varR_paymentSpec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__PaymentSpecification__c</objectType>
    </variables>
    <variables>
        <name>varR_stdClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>cve__Claim__c</objectType>
    </variables>
</Flow>
