unpackaged/main/default/flows/Subflow_ProcessExpressPayClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_addInstancesToCollections</name>
        <label>Add Instances To Collections</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RecalculatePaymentCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecalculatePayment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collR_benefitClaimedCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_benefitClaimedInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Specs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_createBCAndRPEventInstances</name>
        <label>Create BC and RPEvent Instances</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RecalculatePayment.PaymentSpecificationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Specs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_benefitClaimedInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Specs.cve__BenefitClaimed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_benefitClaimedInstance.cve__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_setClaimType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_setClaimType</name>
        <label>Set ClaimType</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varB_isAbsenceClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formB_isAbsenceClaim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addInstancesToCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_user_in_payment_spec</name>
        <label>store user in payment spec</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PaymentSpecification.RunApprovalAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentSpecification.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Specs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentSpecificationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentSpecification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_createBCAndRPEventInstances</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_null</name>
        <label>Check for null</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllRelatedPaymentSpecs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Specs</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_isAbsenceClaim</name>
        <label>Claim Type</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_Disability_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disability Claim</defaultConnectorLabel>
        <rules>
            <name>outcome_isAbsenceClaim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_isAbsenceClaim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Absence_Claim</targetReference>
            </connector>
            <label>Absence Claim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formB_isAbsenceClaim</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Payment_Specs.cvint__AbsenceClaim__c}))</expression>
    </formulas>
    <interviewLabel>Subflow_ProcessExpressPayClaim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Process Express Pay Claim</label>
    <loops>
        <name>Payment_Specs</name>
        <label>Payment Specs</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>AllRelatedPaymentSpecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>store_user_in_payment_spec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payment_Specification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recalculate_Payments</name>
        <label>Create Recalculate Payments</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>dec_isAbsenceClaim</targetReference>
        </connector>
        <inputReference>RecalculatePaymentCollector</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AllRelatedPaymentSpecs</name>
        <label>All Related Payment Specs</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>cvint__AbsenceClaim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cve__Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cve__PaymentSpecification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Absence_Claim</name>
        <label>Update Absence Claim</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpressPaid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>cvab__Claim__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_approveBenefitsClaimed</name>
        <label>Approve Benefits Claimed</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <inputReference>collR_benefitClaimedCollector</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disability_Claim</name>
        <label>Update Disability Claim</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>update_approveBenefitsClaimed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpressPaid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>cve__Claim__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Specification</name>
        <label>Update Payment Specification</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Recalculate_Payments</targetReference>
        </connector>
        <inputReference>PaymentSpecificationList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AllRelatedPaymentSpecs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClaimTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collR_benefitClaimedCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__BenefitClaimed__c</objectType>
    </variables>
    <variables>
        <name>PaymentSpecification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__PaymentSpecification__c</objectType>
    </variables>
    <variables>
        <name>PaymentSpecificationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__PaymentSpecification__c</objectType>
    </variables>
    <variables>
        <name>RecalculatePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecalculatePayments__e</objectType>
    </variables>
    <variables>
        <name>RecalculatePaymentCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecalculatePayments__e</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_isAbsenceClaim</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_benefitClaimedInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cve__BenefitClaimed__c</objectType>
    </variables>
</Flow>
