unpackaged/main/default/flows/UW_Case_Closure_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_new_Case_Owner3</name>
        <label>Notify the new Case Owner3</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>Case.Notify_of_case_transfer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_of_case_transfer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>UWQueueLevel1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group_Underwiting_Level_1_PNW</stringValue>
        </value>
    </constants>
    <constants>
        <name>UWQueueLevel2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group_Underwiting_Level_2_PNW</stringValue>
        </value>
    </constants>
    <description>automatically closes a UW case after 15 minutes and send email notification when case is assigned</description>
    <environments>Default</environments>
    <interviewLabel>UW Case Closure || Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UW Case Closure || Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gubusinesssubmissionspnw@usablelife.com</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delay_close</name>
            <connector>
                <targetReference>Notify_the_new_Case_Owner3</targetReference>
            </connector>
            <label>Delay close</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
